<% provide(:page_title, @bicycle.name) %>
<% provide(:blog_active, 'active') %>

<% if @bicycle.owner?(current_author) %>
  <div>
    <%= link_to "Edit", edit_authors_bicycle_path(@bicycle), class: 'btn btn-sm btn-warning' %>
    <%= link_to "Remove", authors_bicycle_path(@bicycle), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
    <% if @bicycle.published? %>
      <%= link_to "Unublish", unpublish_authors_bicycle_path(@bicycle), method: :put, class: 'btn btn-sm btn-primary' %>
    <% else %>
      <%= link_to "Publish", publish_authors_bicycle_path(@bicycle), method: :put, class: 'btn btn-sm btn-success' %>
    <% end %>
  </div>
<% else %>
  <%= link_to "Suggest edit", new_authors_bicycle_suggestion_path(@bicycle.id), class: 'btn btn-sm btn-info' %>  
<% end %>


<div class="row">
  <div class="col-md-8 offset-md-2">
    <% if !@bicycle.image.nil? %>
      <div class="text-center">
        <%= image_tag @bicycle.image.url(:medium), class: "post-image" %>
      </div>
    <% end %>
    <hr>
    <h1 class="text-center"><b><%= @bicycle.name %></b></h1>
    <hr>
    <%= link_to dislike_blog_bicycle_path(@bicycle), method: :post, class: 'btn btn-sm btn-info pull-right' do %>
      <%= fa_icon('thumbs-o-down', class: 'fa-2x')%>
    <% end %>
    <p class="publish"><b><%= author_name(@bicycle.author_id) %></b> <small><i><%= @bicycle.display_day_published %></i></small></p>
    <%= @bicycle.content.html_safe %>
    <hr>
  </div>

  <div class="col-md-12" id='commment'>
    <%= render "blog/comments/form" %>
  </div>

  <div class="col-md-12" id='comments'>
    <%= render @bicycle.comments.desc %>
  </div>
</div>

